# Node packages
node_modules

# Env file
.env

# Compiled directories
build/

# Logs
coverage
npm-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
